.product__banner{
    display: flex;
    width: 100vw;
    height: 180px;
    overflow-x: auto;
    white-space: nowrap ;
    margin: 80px auto 0px auto;
}
#banner1{
    width: auto;
    height: auto;
    object-fit: cover;
}