.product__banner{
    max-width: 50rem;
    margin-top:70px ;
}
.slider{
    display: flex;
    aspect-ratio: 20/8;
    overflow-x: scroll;
    scroll-snap-type:  x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.slider::-webkit-scrollbar{ display: none;}
.slider img{
    scroll-snap-align: start;
    object-fit: contain;
}
.slider__nav{
    display: flex;
    justify-content: center;
    transform: translateY(-20px);
    column-gap: 1rem;
    z-index: 1;
}
.slider__nav a{
    width: .5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: rgb(81,85,91);
}
.slider__nav a:hover{
    background-color: rgb(68,111,160);
}