footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: rgb(81,85,91);
    width: 100vw;
    height: 7vh;
    font-size: large;
}
footer a:hover{
    cursor: pointer;
}
.nav__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    text-align: center;
    text-decoration: none;
    color: rgb(214,221,224);
}
.nav__text{
    text-decoration: none;
    font-size: .8rem;
    margin-top: 1px;
}
.bar{
    width: 50px;
    height: 4px;
    margin-bottom: 4px;
}
.nav__link.selected .bar,
.nav__link:focus .bar {
    background-color: rgb(214,221,224); 
    height: 4px;
    border-radius: 0px 0px 50px 50px;
}
.nav__link.selected ,
.nav__link:focus {
    background-color: transparent; /* Remove background color */
}