header{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: rgb(95, 239, 255);
    width: 100vw;
    height: 6vh;
    font-size: large;
}
header .search_bar{
    border: 2px solid black;
    width: 80 vw;
}
header .search_bar:hover,.search_bar:active{
    border: none;
    height: 6vh;
}
header button{
    border: 1px solid blue;
    color: black;
}