header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgb(80,80,80);
    width: 100vw;
    height: 6vh;
    font-size: large;
}
#search__bar{
    max-width: 450px;
    width: 70vw;
    height: 5vh;
    margin: auto 0;
    border-radius: 10px 0px 0px 10px;
    color: black;
    padding-left: 15px;
}
#search__bar:focus {
    outline: none;
    width: calc(70vw - 10vw);

}
#search__bar:focus::placeholder {
    opacity: 0;
}
.clear-input {
    display: none; 
    text-decoration: none;
}


#search__bar:focus + .clear-input {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 10vw;
    height: 5vh;
    color: rgb(68, 111, 160);
    cursor: pointer;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 5vh;
    margin: auto 0px auto 0px;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(68, 111, 160);
    color: rgb(214,221,224);
    text-decoration: none;
}